@using Microsoft.AspNetCore.Identity
@model List<Attendance>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "ToDay Attendance";
}
<h1 class="text-center m-5">ToDay Attendance</h1>
<table class="text-center table table-bordered table-hover table-responsive mt-5">
    <thead class="text-center bg-black text-white">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Check in</th>
            <th scope="col">Check out</th>
            <th scope="col">Late</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td scope="col">@task.ApplicationUser.Name</td>
                <td scope="col">@task.CheckIn.Hours.ToString("D2") : @task.CheckIn.Minutes.ToString("D2") </td>
                <td>
                @(
                    (task.CheckOut.Hours > 12
                    ? (task.CheckOut.Hours - 12).ToString("D2")
                    : (task.CheckOut.Hours == 0 ? "00" : task.CheckOut.Hours.ToString("D2"))
                    ) + ":" + task.CheckOut.Minutes.ToString("D2")
                        )
                </td>
                <td>
                    @{
                        var user = await UserManager.FindByIdAsync(task.ApplicationUserId);
                        var egyptTime = new TimeSpan();
                        TimeSpan late = new TimeSpan();

                        if (user.Email.ToLower() == "sy034692@gmail.com")
                        {
                            egyptTime = new TimeSpan(13, 0, 0);
                            if (task.CheckIn > new TimeSpan(13, 0, 0))
                                late = task.CheckIn - egyptTime;
                        }
                        else
                        {
                            egyptTime = new TimeSpan(9, 0, 0);
                            if (task.CheckIn > new TimeSpan(9, 0, 0))
                                late = task.CheckIn - egyptTime;
                        }
                    }
                    @late.Hours.ToString("D2") : @late.Minutes.ToString("D2") : @late.Seconds.ToString("D2")
                </td>
            </tr>
        }
    </tbody>
</table>
