@model List<Attendance>
<table class="text-center table table-bordered table-hover table-responsive mt-5">
    <thead class="text-center bg-black text-white">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Check in</th>
            <th scope="col">Check out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td scope="col">@task.ApplicationUser.Name</td>
                <td scope="col">@task.CheckIn.Hours : @task.CheckIn.Minutes </td>
                <td scope="col">@task.CheckOut.Hours : @task.CheckOut.Minutes</td>
                
            </tr>
        }
    </tbody>
</table>
<script src="/js/logout.js"></script>
