@model IEnumerable<SimpleCrm.VM.AllTasksVM>
@{
    ViewData["Title"] = "Tasks";
}
<div>
    <h1 class="text-center">All Tasks</h1>
    <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
            <div class="btn-group">
                <a class="btn btn-success" aria-current="page" asp-action="Create"><i class="bi bi-plus"></i>Create New Task</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-0"></div>

    </div>


    <table class="table table-bordered table-hover table-responsive">
        <thead class="text-center bg-black text-white">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">User</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@task.Status.ToString()</td>
                    <td>@task.User</td>
                    <td>@task.StartDate</td>
                    <td>@task.EndDate</td>

                    <td>
                        @if (task.Role == "Employee")
                        {
                            <button onclick="deleteTask('@task.Id')" class="btn btn-outline-danger" type="button"><i class="bi bi-trash"></i> Delete</button>
                        }
                    </td>

                </tr>
            }


        </tbody>
    </table>

</div>

@section Scripts {
    <script>
        function deleteTask(taskId) {
            // Show confirmation dialog
            $.confirm({
                title: 'Confirm Delete',
                content: 'Are you sure you want to delete?',
                buttons: {
                    confirm: {
                        text: 'Confirm',
                        btnClass: 'btn-danger',
                        action: function () {
                            // AJAX request
                            $.ajax({
                                url: '/Tasks/Delete?TaskId=' + taskId,
                                type: 'post',
                                success: function (response) {

                                    refreshClientTable(); // Optionally, reload the page
                                    toastr.success('Task deleted successfully!', 'Success', { timeOut: 5000 })

                                },
                                error: function (xhr, status, error) {
                                    console.log("Error:", error);  // Log the error for debugging
                                    toastr.error('An error occurred while deleting the Task.', 'Error!')
                                }
                            });
                        }
                    },
                    cancel: function () {

                    }
                }
            });
        };

        function refreshClientTable() {
            $.ajax({
                url: '@Url.Action("Index", "Tasks")',
                type: 'GET',
                //data: { /* you can send additional data here if needed */ },
                success: function (result) {
                    $('table tbody').html($(result).find('table tbody').html());
                },
                error: function (xhr, status, error) {
                    console.error("Failed to refresh the client table: ", error);
                    alert("An error occurred while refreshing the table.");
                }
            });
        }

    </script>
}
