
@model IEnumerable<SimpleCrm.VM.UsersVm>
@{
    ViewData["Title"] = "Users";
}
<div>
    <h1 class="text-center">All Users</h1>
    <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
            <div class="btn-group">
                <a class="btn btn-success" aria-current="page" asp-action="Register"><i class="bi bi-plus"></i>Add User</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-0"></div>

    </div>


    <table class="table table-bordered table-hover table-responsive">
        <thead class="text-center bg-black text-white">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Role</td>

                    <td>
                        @if (user.Role != "ProductionMangerA")
                        {
                            <button onclick="deleteUser('@user.Id')" class="btn btn-outline-danger" type="button"><i class="bi bi-trash"></i></button>
                        }
                        <a href="\UserPoints\GetUserPointsInDay?UserId=@user.Id" class="btn btn-outline-primary" type="button"><i class="bi bi-star-half"></i></a>
                        <a href="\Reports\Index?UserId=@user.Id" class="btn btn-outline-success" type="button"><i class="bi bi-chat-left-dots-fill"></i></a>
                        <a href="\Penalities\UserPenalities?EmployeeId=@user.Id" class="btn btn-outline-info" type="button"><i class="bi bi-bug"></i></a>
                        <a href="\Attendances\GetUserAttendance?UserId=@user.Id" class="btn btn-outline-info" type="button"><i class="bi bi-arrow-left-right"></i></a>                        
                    </td>
                    
                </tr>
            }
           
           
        </tbody>
    </table>
  
</div>

