@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@model IEnumerable<SimpleCrm.VM.AllSalesRequestsVM>
@{
    ViewData["Title"] = "All Sales";
}
<div>
    <h1 class="text-center m-5">All Sales</h1>

    <table class="table table-bordered table-hover table-responsive text-center">
        <thead class="text-center bg-black text-white">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr class="client-row">
                    <td>@task.User</td>
                    <td>@task.Description</td>
                    <td>@task.Status</td>
                    <td>@task.Date</td>
                    <td>                        
                        @if(task.Status=="Pending")
                        {
                            <button onclick="AcceptSalesRequest('@task.Id')" class="btn btn-outline-success" type="button"><i class="bi bi-trash"></i> Accept</button>                        
                            <button onclick="RejectSalesRequest('@task.Id')" class="btn btn-outline-danger" type="button"><i class="bi bi-trash"></i> Reject</button>                        
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
